button[id="sbt-btn"]{
    margin-left: -50 px;
}
h4{
    text-align: center;
}
.card-title{
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    background-image: linear-gradient(rgb(157, 229, 235), yellow, rgb(85, 235, 118));
}
#sbt-btn3{
    float:left;
    margin-right: 395px;
}
#searchbar{
    background-image: url('/css/searchicon.png'); 
    margin-left:15px;
    padding-bottom: 14px;
    padding-top: -15px;
    width: 400px;
    border-radius: 7px;
    border:none;
    background-color: rgba(60, 93, 240, 0.24);
    background-repeat: no-repeat;
}
#searchbar:hover{
    border: 2px solid blue;
}
.h3{
    text-align: center;
}

